body { 
margin: 0;
display: flex;
flex-direction: column;
min-height: 100vh;
}

header , footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 0;
}

.container{
    display: flex;
    flex: 1;
    
}

.main-content{
    flex: 1;
    padding: 0 500px;
    background-color: lightgray;
}
.side-content{
    width: 200px;
    background-color: gray;
}
@media only screen and (max-width:480px) {
    .container{
        flex-direction: column;
    }
    .side-content,
    .main-content{
        width: 100%;
    }
    
}